doctype html5
head
	title Степан Гусев
	link(href='/fonts/fonts.css', rel='stylesheet')
	link(href='/css/main.css', rel='stylesheet')
body
	.split.split--intro
		.split-wrap
			header 
				h1 Степан Гусев
				p Создаю веб-интерфейсы —&nbsp;от&nbsp;прототипа до&nbsp;рабочего фронтенда
	.split.split--dark.split--whatdoido
		.split-wrap
			h2 Что я&nbsp;делаю?
			.switcher
				.switcher-switches
					.switch.switch--active Дизайн
					.switch Вёрстка
					.switch Скрипты
				.switcher-content
	.split.split--dark.split--folio
		.split-wrap
			h2 Проекты
			.projects
				a(href="./projects/viasun.html").project
					.project-image(style="background-image: url(./projects/viasun/cover.png);")
					.project-description
						h3 Viasun.travel
						p Дизайн и&nbsp;вёрстка интернет-магазина туров
				a(href="./projects/fis.html").project
					.project-image(style="background-image: url(./projects/fis/cover.png);")
					.project-description
						h3 Fis.ru
						p Дизайн сайта-каталога товаров и&nbsp;услуг
				a(href="./projects/csdirect.html").project
					.project-image(style="background-image: url(./projects/csdirect/cover.png);")
					.project-description
						h3 CS Директ
						p Вёрстка промо-страницы о&nbsp;контекстной рекламе
				a(href="./projects/hirch.html").project
					.project-image(style="background-image: url(./projects/hirch/cover.png);")
					.project-description
						h3 Ракета индекса Хирша
						p Презентация веб-системы для&nbsp;университета
				a(href="./projects/buketroz.html").project
					.project-image(style="background-image: url(./projects/buketroz/cover.png);")
					.project-description
						h3 Букет роз
						p Дизайн интернет-магазина цветов
				a(href="./projects/lumonade.html").project
					.project-image(style="background-image: url(./projects/lumonade/cover.png);")
					.project-description
						h3 Lumonade
						p Анимация логотипа веб-студии
			.projects
	.split.split--dark.split--about
		.split-wrap
			h2 О себе
			p.text--center
				a.link--sun(href="mailto:stephen.gusev@gmail.com") stephen.gusev@gmail.com