include ../components/head.jade

+head('Букет роз')
body.page--buketroz
	.split.split--intro
		.split-waves
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header
				p Одна роза — одна страница
	.split.split--main
		.split-wrap
			.block.block--intro
				.block-text
					a(href="http://buketroz.tomsk.ru") «Букет&nbsp;роз»
					|  — интернет-магазин одного товара. Покупатели выбирают количество роз в&nbsp;букете и&nbsp;их цвет — красный, белый или&nbsp;смешанный.
				.block-image
					img(src="./buketroz/buketroz-minilogo.png")
			.block.block--page
				.block-image
					img(src="./buketroz/buketroz-safari.png")
				.block-text
					.block-text-about
						p Благодаря простой идее, весь сайт состоит практически из&nbsp;одной страницы. Я&nbsp;нарисовал её&nbsp;дизайн.
					.block-text-select
						p Чтобы упростить выбор количества, в&nbsp;магазине предусмотрели несколько стандартных букетов. При&nbsp;желании покупатель составляет свой.
						p Цены букетов меняются в&nbsp;зависимости от&nbsp;наличия доставки и&nbsp;количества роз.
					.block-text-advantages
						p В&nbsp;этом блоке рассказано о&nbsp;розах и&nbsp;преимуществах покупки.
		.split-waves
		.split-wrap
			.block.block--popup
				.block-text Осталось заполнить информацио о&nbsp;доставке и&nbsp;оплатить
				.block-image
					img(src="./buketroz/buketroz-popup.png")
	.split.split--footer