include ../components/head.jade

+head('CS Директ')
body.page--csdirect
	.split.split--intro
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header
				p Ага, о&nbsp;летающем слоне
	.split.split--main
		.split-wrap
			.block.block--graph
				img(src="./csdirect/csdirect-graph.png")
			.block.block--intro
				p
					a(href="http://direct.constructivesolutions.ru") CS&nbsp;Direct
					|  — промо-страница услуг компании «Конструктивные решения» по&nbsp;продвижению в&nbsp;рекламных сетях Яндекс.Директ и&nbsp;Google Adwords.
				p Я&nbsp;помог спроектировать страницу, а&nbsp;затем всё&nbsp;аккуратно сверстал и&nbsp;написал скрипты.
			.block.block--page
				.block-image
					img(src="./csdirect/csdirect-page.png")
				.block-text
					.block-text-intro
						p Посетителей встречает слон, который парит на&nbsp;воздушных шарах
					.block-text-pricing
						p При&nbsp;переключении между тарифами цифры весело сменяют друг друга
					.block-text-popup
						p Во&nbsp;всплывающем окне рассказывается о&nbsp;дополнительных преимуществах
					.block-text-slider
						p Для&nbsp;слайдера сделал анимацию листания