include ../components/head.jade

+head('Ракета индекса Хирша')
body.page--hirsch
	.split.split--intro
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header
				p Как я&nbsp;запускал ракету в&nbsp;космос
	.split.split--main
		.split-wrap
			.block.block--intro
				.block-text «Ракета индекса Хирша» — веб-система для&nbsp;университета. Она&nbsp;призвана увеличить количество и&nbsp;качество публикаций, а&nbsp;значит — поднять рейтинг университета на&nbsp;международном уровне.
				.block-image
					img(src="./hirsch/hirsch-rocket.png")
			.block.block--page
				img(src="./hirsch/hirsch-page-notifications.png")
			.block.block--page
				img(src="./hirsch/hirsch-page-route.png")
			.block.block--page
				img(src="./hirsch/hirsch-page-about.png")
			.block.block--page
				img(src="./hirsch/hirsch-page-final.png")
	.split.split--footer