doctype html5
head
	title Степан Гусев — Lumonade
	link(href='/fonts/fonts.css', rel='stylesheet')
	link(href='/css/main.css', rel='stylesheet')
body
	.split.split--intro
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header 
				h1 Lumonade
				p Сделал из бутылки лампочку