include ../components/head.jade

+head('Lumonade')
body.page--lumonade
	.split.split--intro
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header
				p Бутылка? Лампочка!
	.split.split--main
		.split-wrap
			.block.block--intro
				p.text--lead В&nbsp;Lumonade разрабатывают сайты и&nbsp;программы.
				p.text--lead Я&nbsp;нарисовал анимационную заставку для&nbsp;презентации студии перед&nbsp;заказчиками
			.block.block--animation
				object(type="application/x-shockwave-flash", data="./lumonade/lumonade-animation.swf")
			.block.block--numbers
				div
					p.text-large 358
					p кадров отрисовано
				div
					p.text-large 48
					p дней занял проект
				div
					p.text-large 0
					p лампочек пострадало
	.split.split--footer
			