include ../components/head.jade

+head('Viasun.travel')
body.page--travel
	.split.split--intro
		.split-wrap
			a.logo.logo--small(href="../index.html") Степан Гусев
			header
				p Отдых — доступнее
	.split.split--main
		.split-wrap
			.block.block--intro
				.block-image
					img(src="./travel/travel-ipad.png")
				.block-text
					p
						a(href="http://viasun.travel") Виасан.тревел
						|  — интернет-магазин туров.
					p Я&nbsp;разработал дизайн сайта, всё&nbsp;сверстал и написал скрипты для&nbsp;фронтенда.
			.block.block--search
				h2 Форма поиска
				.block-image
					img(src="./travel/travel-searchform.png")
				.block-text
					p Важнейшей задачей было сделать форму поиска визуально простой, не&nbsp;уменьшив её функциональности
			.block.block--pages
				h2 Макеты
				.block-images
					.block-column
						img(src="./travel/travel-page-search.png")
						img(src="./travel/travel-page-tour.png")
					.block-column
						img(src="./travel/travel-page-main.png")
						img(src="./travel/travel-page-country.png")
					.block-column
						img(src="./travel/travel-page-hotel.png")
	.split.split--footer